<div class="flex h-full p-4">
    <div class="w-1/4 bg-white align-top rounded-md overflow-scroll">
        <ul class="p-4 ">
            @for (key of userKeys; track key) {
                <li class="h-10 border-b-2 py-2 px-2 text-black hover:bg-slate-400 capitalize text-base font-medium"
                (click)="handleChartData(key)"
                >{{key}}</li>
            }
        </ul>
    </div>
    <div class="h-full w-3/4 bg-slate-50 p-14 mx-2 rounded-md">
        <div class="relative w-full z-40 min-h-2">
            <div class="w-16 ml-auto mr-auto min-h-4">Minutes</div>
             <div class="bg-[#63adfeb3] w-20 ml-auto mr-auto min-h-5"></div>
        </div>
        <div id="chart" #chartContainer class="h-5/6 w-full"></div>
    </div>
</div>